body{background-color:rgb(169, 255, 246) ;}

h3{background-color: rgb(241, 10, 10);}
h2{background-color: blue;}
h1{background-color: yellow;}
div{background-color: blueviolet;}
footer{background-color: chartreuse;}
.title{font-size: 2em;
color: darkblue;}
#principal{font-size: 3em;
color: rgb(66, 93, 93);}
.broche{width: 15em;
height: 10em;}
.dragon{width: 15em;
height: 10em;}
.fantasma{width: 15em;
height: 10em;}
#pulido{
    border: 2px solid black;
    width: 60vw;
    /* viewport width */
    margin: auto;
    padding: 3em;
}
.cards{border: 2px rgb(57, 1, 1) solid;
    width: fit-content;
   padding: 0.5em 1em 1em 1em;
   border-radius: 10%;
   transition: 2s;
   margin: auto;}
.cards:hover{background-color: black;}
 #palido{border: 1px solid rgb(5, 9, 9);
width: 60vw;
margin: auto;
padding-left: 3.1em;}
